@font-face {
    font-family: Raleway;
    src: url(./ebgaramondmedium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(./ebgaramondmedium.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}